<div class="container" id="apidemo-container">
    <h1>{{pageStrings.Title}}</h1>
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{ active: $first }" ng-repeat="(key, restRoute) in vm.restRoutes">
                <a data-target="#{{restRoute.path}}" aria-controls="{{restRoute.path}}" role="tab" data-toggle="tab">
                {{restRoute.provider.toUpperCase()}}
            </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" ng-class="{ active: $first }" id="{{restRoute.path}}" ng-repeat="(key, restRoute) in vm.restRoutes">
                <br />
                <!--GET-->
                <button class="btn btn-success" ng-click="vm.get(restRoute)">GET</button>
                <br />
                <br />
                <div class="table-container">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    {{restRoute.identity}}
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm[restRoute.path + '-get-items']">
                                <td>
                                    {{item[restRoute.identity]}}
                                </td>
                                <td>
                                    {{item.FirstName}}
                                </td>
                                <td>
                                    {{item.LastName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>Total: {{vm[restRoute.path + '-get-items'].length}}</p>
                <br />
                <!--GET BY ID-->
                <div class="form-inline">
                    <button class="btn btn-success" ng-click="vm.get(restRoute, vm[restRoute.path + 'getId'])">GET (By ID)</button>
                    <select class="form-control" ng-model="vm[restRoute.path + 'getId']" ng-options="item[restRoute.identity] as item[restRoute.identity] for item in vm[restRoute.path + '-get-items']">
                        <option value="">Select ID</option>
                    </select>
                </div>
                <br />
                <pre>{{vm[restRoute.path + '-get-item']||'N/A'}}</pre>
                <br />
                <!--POST-->
                <div class="form-inline">
                    <button class="btn btn-warning" ng-click="vm.post(restRoute, vm[restRoute.path + 'postItem'])">POST</button>
                    <div class="form-group">
                        <label>{{pageStrings.FirstName}}</label>
                        <input ng-model="vm[restRoute.path + 'postItem'].FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>{{pageStrings.LastName}}</label>
                        <input ng-model="vm[restRoute.path + 'postItem'].LastName" class="form-control" />
                    </div>
                </div>
                <br />
                <br />
                <pre>{{vm[restRoute.path + '-post-item']||'N/A'}}</pre>
                <br />
                <!--PUT-->
                <div class="form-inline">
                    <button class="btn btn-primary" ng-click="vm.put(restRoute, vm[restRoute.path + 'putItem'])">PUT</button>
                    <select class="form-control" ng-model="vm[restRoute.path + 'putItem']" ng-options="item as item[restRoute.identity] for item in vm[restRoute.path + '-get-items']">
                        <option value="">Select ID</option>
                    </select>
                    <div class="form-group">
                        <label>{{pageStrings.FirstName}}</label>
                        <input ng-model="vm[restRoute.path + 'putItem'].FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>{{pageStrings.LastName}}</label>
                        <input ng-model="vm[restRoute.path + 'putItem'].LastName" class="form-control" />
                    </div>
                </div>
                <br />
                <br />
                <pre>{{vm[restRoute.path + '-put-item']||'N/A'}}</pre>
                <br />
                <!--DELETE-->
                <div class="form-inline">
                    <button class="btn btn-danger" ng-click="vm.delete(restRoute, vm[restRoute.path + 'deleteId'])">DELETE</button>
                    <select class="form-control" ng-model="vm[restRoute.path + 'deleteId']" ng-options="item[restRoute.identity] as item[restRoute.identity] for item in vm[restRoute.path + '-get-items']">
                        <option value="">Select ID</option>
                    </select>
                </div>
                <br />
                <br />
                <pre>{{vm[restRoute.path + '-delete-item']||'N/A'}}</pre>
                <br />
                <button class="btn btn-info" ng-click="vm.testAll(restRoute)">Test All (Synchronous)</button>
                <br />
                <br />
                <textarea class="form-control" ng-model="vm[restRoute.path + 'testAll']"></textarea>
            </div>
        </div>
    </div>
</div>
